<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-8 col-12">
                <h1 class="text-center mb-4">Entre na sua conta</h1>
                <form action="/auth/register" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Digite seu nome de usuario">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Digite seu email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" name="password"class="form-control" id="exampleInputPassword1"
                            placeholder="Digite sua senha">
                    </div>
                     <div class="mb-3">
                        <label for="confirm" class="form-label">Confirmar senha</label>
                        <input type="password" name="confirm" class="form-control" id="exampleInputPassword1"
                            placeholder="Confirme a senha anterior">
                    </div>
                    <button type="submit" class="btn btn-primary w-40">Cadastrar-se</button>
                </form>
            </div>
        </div>
    </div>
</section>